@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
body {
  font-family: "Roboto", sans-serif;
}

/* BUTTON BOOTSTRAP
================================================== */
.btn {
  width: 110px;
  height: 30px;
  padding: 0px;
  padding-top: 0.5px;
}
.btn b, .btn a, .btn p {
  text-decoration: none;
  color: #ffffff !important;
}

.btn-outline-primary {
  border-color: #3AF072;
  color: #ffffff !important;
}
.btn-outline-primary b, .btn-outline-primary a, .btn-outline-primary p {
  text-decoration: none;
  color: #ffffff !important;
}

.btn-outline-primary:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff !important;
  padding-top: 1px;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #0C0716 !important;
  background-color: #3AF072;
  border-color: #000;
}

.btn-primary {
  background-color: transparent;
  border-color: #3AF072;
}
.btn-primary b, .btn-primary a, .btn-primary p {
  text-decoration: none;
  color: #ffffff !important;
}

.btn-primary:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: #ffffff;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #0C0716 !important;
  background-color: #3AF072;
  border-color: #000;
}

.dropdown-item {
  color: #0C0716 !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #3AF072;
}

.btnlogin-dropdown:hover {
  background-color: #3AF072 !important;
  border-color: #3AF072 !important;
  color: #0C0716 !important;
  padding-bottom: 1px;
}

.btnlogin-dropdown {
  color: #0C0716 !important;
  border-color: #3AF072 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #3AF072 !important;
  outline: 0;
  box-shadow: none !important;
}

/* HEADER
================================================== */
.bgHeader {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bgHeader.active {
  background: #0C0716 !important;
}

.TextHeader {
  color: #ffffff;
  padding-top: 50px;
}
.TextHeader b, .TextHeader a, .TextHeader p {
  text-decoration: none;
  color: #ffffff !important;
}

.img-blockchain-header {
  padding: 40px 50px 30px 0px;
  margin-left: -50px;
}

.title-desc-header {
  padding: 40px 0px 0px 70px;
}

p.sibtutilo {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-top: 20px;
}

p.desc {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-right: -20px;
}

.navbarSite {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  justify-content: center !important;
}
.navbarSite b, .navbarSite a, .navbarSite p {
  text-decoration: none;
  color: #ffffff !important;
}
.navbarSite .nav-item {
  padding-left: 20px;
}

.first {
  margin: 0;
  padding: 0;
}
.first .title {
  color: #f9f3f4;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  line-height: 0.4em;
}
.first .title h1 {
  font-size: 50px;
  padding-bottom: 35px;
}
.first .title strong {
  color: #3AF072;
}
.first .title .btn {
  width: auto;
  color: #fff;
  padding: 10px 30px 35px 30px;
  border-color: #3AF072;
}
.first .title .btn:focus, .first .title .btn.focus {
  outline: none;
  box-shadow: none;
}

.container-fluid.second {
  width: 100%;
  height: 100vh;
  background-color: #3AF072;
}

.fab {
  margin: 25px !important;
  font-size: 30px;
  margin-left: 0px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #ffffff;
  border-radius: 50%;
}

.fa-facebook-f:hover {
  color: #3B5998;
}

.fa-twitter:hover {
  color: #55ACEE;
}

.fa-linkedin-in:hover {
  color: #007bb5;
}

.fa-youtube:hover {
  color: #bb0000;
}

.fa-instagram:hover {
  color: #125688;
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #0C0716;
}
.footer b, .footer a, .footer p {
  text-decoration: none;
  color: #ffffff !important;
}
.footer a {
  text-decoration: none !important;
}
.footer a:hover {
  opacity: 0.7;
}
.footer .text-muted {
  color: #C9D2D8 !important;
}
.footer .col-md-4,
.footer .col-md-5 {
  border-right: 1px solid #707070;
}
.footer .global-links {
  color: #ffffff;
}
.footer .border-newslatter {
  border: none !important;
  padding-left: 40px;
}
.footer .newslatter {
  color: #ffffff;
}
.footer .newslatter .copy {
  font-size: 18px !important;
}
.footer .newslatter input {
  border: none;
}
.footer .newslatter .email_newslatter {
  padding: 15px;
  width: 100%;
  text-size: 20px;
  color: #0C0716;
  background-color: #3AF072;
}

/*# sourceMappingURL=style.css.map */
